---
import { Icon } from "astro-icon/components";
---

<!-- There can't be a filter on parent element, or it will break `fixed` -->
<div class="back-to-top-wrapper">
    <div id="back-to-top-btn" class="back-to-top-btn hide flex items-center rounded-2xl overflow-hidden transition" onclick="backToTop()">
        <button aria-label="Back to Top" class="btn-card h-[3rem] w-[3rem] lg:h-[3.75rem] lg:w-[3.75rem]">
            <Icon name="material-symbols:keyboard-arrow-up-rounded" class="mx-auto"></Icon>
        </button>
    </div>
</div>

<style lang="stylus">
.back-to-top-wrapper
    width: 3rem
    height: 3rem
    position: absolute
    right: 0
    top: 0
    pointer-events: none
    @media (min-width: 1024px)
        width: 3.75rem
        height: 3.75rem

.back-to-top-btn
    color: var(--primary)
    font-size: 2.25rem
    font-weight: bold
    border: none
    position: fixed
    bottom: 2rem
    right: 1rem
    opacity: 1
    cursor: pointer
    transform: translateX(0)
    pointer-events: auto
    @media (min-width: 1024px)
        bottom: 2rem
        right: 1.5rem
    // 超宽屏幕时，将按钮移到内容区域右侧外部
    @media (min-width: 1600px)
        bottom: 10rem
        right: calc((100vw - var(--page-width)) / 2 - 5rem)
    i
        font-size: 1.75rem
    &.hide
        opacity: 0
        pointer-events: none
        transform: scale(0.9)
    &:active
        transform: scale(0.9)

</style>

<script is:raw is:inline>
function backToTop() {
    window.scroll({ top: 0, behavior: 'smooth' });
}
</script>
